.redes{
    height:420px;
    margin-bottom: 300px;
    
    }
    .cajaBoton{
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        height: 40px;
        width: 110px;
        border: 1px solid var(--naranja);
        background-color: transparent;
        margin-left: 600px;
        margin-top: 100px;
        margin-bottom: 200px;
    }
    .aContactame{
        text-decoration: none;
        color: var(--naranja);
        font-size: 1.4rem;
    }
    .aContactame:hover{
        color: white;
    }
    .cajaBoton:hover{
        background-color: var(--naranja);
    }
    .sub{
        font-size: 1.5rem;
        color: var(--naranja);
        margin-left: 50px;
    }
    .tituloRedes{
        display: flex;
        color: white;
        font-size: 3rem;
        margin-top: 140px;
        margin-left: 50px;
    }
    .cards{
        margin-top: 100px;
        display: flex;
       
    }
    .card-body{
        display: flex;
        height: 120px;
        width: 340px;
        background-color: var(--azulclaro);
        color: var(--naranja);
        border: solid 1px var(--naranja);
        margin-top: 80px;
        margin-left: 80px;
        border-radius: 5px;
    }
    .card-title{
        font-size: 2rem;
        color: white;
        margin-left: 18px;
        margin-top: 18px;
    }
    .card-subtitle{
        font-size: 1rem;
        margin-left: 18px;
        margin-top: 5px;
    }
    .icon{
        color:var(--naranja);
        font-size: 4rem;
         margin-left:90px; 
         margin-top:20px;
    }
    .msj{
        margin-left:60px;
        font-size: 4rem;
        margin-top:20px;
    }
   
/*     ------------------------------------------------RESPONSIVE-----------------------------------------------------*/
    @media (min-width: 900px)and (max-width:1100px){
        .cards{
            position: relative;
            display: block;
            
        }
        .card-body{
            width: 500px;
        }
        .cajaBoton{
       position: absolute;
       top: 2760px;
       left: 180px;
        }
        .redes{
           height: 680px;
        }
        .icon{
          
            margin-left: 200px;
        }
        .msj{
           
            margin-left: 160px;
        }
    }
  
    
    @media (min-width: 801px)and (max-width:899px){
        .cards{
            position: relative;
            display: block;
            
        }
        .card-body{
            width: 500px;
        }
        .cajaBoton{
       position: absolute;
       top: 3410px;
       left: 110px;
        }
        .redes{
           height: 680px;
        }
        .icon{
          
            margin-left: 200px;
        }
        .msj{
          
            margin-left: 160px;
        }
    }
        
    @media (min-width: 791px)and (max-width:800px){
        .cards{
            position: relative;
            display: block;
            
        }
        .card-body{
            width: 500px;
        }
        .cajaBoton{
       position: absolute;
       top: 3710px;
       left: 90px;
        }
        .redes{
           height: 680px;
        }
    }
    @media (min-width: 600px)and (max-width:790px){
        .cards{
           
            display: flex;
            flex-direction: column;
           
        }
        .card-body{
            width: 500px;
        }
        .cajaBoton{
            margin-left: 280px;
            margin-bottom: 150px;
        }
        .redes{
           height: 680px;
        }
        .icon{
          
            margin-left: 200px;
        }
        .msj{
          
            margin-left: 160px;
        }
    }
    @media (min-width: 400px)and (max-width:599px){
        .cards{
           
            display: flex;
            flex-direction: column;
           
        }
        .cajaBoton{
            margin-left: 180px;
            margin-bottom: 150px;
        }
        .redes{
           height: 680px;
        }
    }


/*     .cards{
        position: relative;
        display: flex;
        
    }
    .card-body{
        width: 500px;
    }
    .cajaBoton{
   position: absolute;
   top: 3260px;
   left: 180px;
    }
    .redes{
       height: 680px;
    } */