.portafolio{
    height: 300px;
    
    
}
.porta{
    color: var(--naranja);
    font-size: 2rem;
    font-family:  'Trebuchet MS';   
}
.contenedorh1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.limita{
    display: flex;
    justify-content: center;
}
.presenta{
    font-size: 1.5rem;
    margin-top: 30px;
    width: 800px;
    height: 120px;
    color: white;
}


@media (min-width: 1000px)and (max-width:1100px){

}

@media (min-width: 900px)and (max-width:1000px){

}
@media (min-width: 800px)and (max-width:900px){

}
@media (min-width: 700px)and (max-width:800px){

}
@media (min-width: 600px)and (max-width:700px){

}
@media(max-width:800px){
    .portafolio{
        margin-left: 120px;
        width: 600px;
    }
}
@media (min-width: 400px)and (max-width:500px){

}