.portafolio{
    height: 300px;
    
    
}
.porta{
    color: var(--naranja);
    font-size: 2rem;
    font-family:  'Trebuchet MS';   
}
.contenedorh1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.limita{
    display: flex;
    justify-content: center;
}
.presenta{
    font-size: 1.5rem;
    margin-top: 30px;
    width: 800px;
    height: 120px;
    color: white;
}
/* -----------------------------------------------RESPONSIVE----------------------------------------------------*/

@media (min-width: 1101px)and (max-width:1150px){
    .portafolio{
        margin-left: 160px;
        width: 800px;
    }
}
@media (min-width: 900px)and (max-width:1000px){
    .portafolio{
        margin-left: 120px;
        width: 700px;
    }
}
@media (max-width:899px){
    .portafolio{
        margin-left: 190px;
        width: 500px;
    }
}
@media(max-width:790px){
    .portafolio{
       margin-left: 50px;
        width:500px;
    }
}
@media(max-width:530px){
    .portafolio{
        margin-left: 50px;
         width:400px;
     }
}