
.tituloSitios{
    display: flex;
    justify-content: center;
    color: var(--naranja);
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 2rem;
}
.contenedor{
    background-color: var(--azulclaro);
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    margin-top: 10px;
    margin-left: 280px;
    box-shadow: 0px 1px 12px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 12px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 12px 4px rgba(0,0,0,0.75);
}

.foto{
    margin: 10px;
    height: 300px;
    width: 400px;
}


/* ------------------------------------------RESPONSIVE----------------------------------------------------*/


@media (min-width: 1100px)and (max-width:1200px){
    .contenedor{
        margin-left: 220px ;
    }
    }
@media (min-width: 1000px)and (max-width:1099px){
.contenedor{
    margin-left: 180px ;
}
}

@media (min-width: 900px)and (max-width:999px){
    .contenedor{
        margin-left:120px ;
    }
}
@media (min-width: 800px)and (max-width:899px){
    .contenedor{
        width: 450px;
        margin-left: 210px ;
    }
}
@media (min-width: 700px)and (max-width:799px){
    .contenedor{
        width: 450px;
        margin-left: 150px ;
    }
}
@media (min-width: 600px)and (max-width:699px){
    .contenedor{
        width: 450px;
        margin-left: 120px ;
    }
}

@media (min-width: 500px)and (max-width:599px){
    .contenedor{
        width: 450px;
        margin-left: 100px ;
    }
}

@media (min-width: 400px)and (max-width:499px){
    .contenedor{
        width: 450px;
        margin-left: 80px ;
    }
}


@media (min-width: 300px)and (max-width:399px){
    .contenedor{
        width: 450px;
        margin-left: 50px ;
    }
}
/* @media  (max-width:800px){
.contenedor{
    width: 450px;
    margin-left: 190px;
}
.sitios{
    margin-left: 250px;
}
 } */