footer{
    margin-top: 400px;

    height: 100px;
    background-color: var(--azulclaro);
 }
.footer{
    display: flex;
    justify-content: center;
    
}
#parrafo{
    margin-top: 45px;
    color:white;
}
code{
    color: #888;
}

@media (min-width: 400px)and (max-width:790px){
footer{
    margin-top: 400px;
}
}

@media (min-width: 900px)and (max-width:1000px){

}
