*{
  padding: 0;
  margin:0;
}
body{
  background-color: rgba(31,35,54,255);
}
html{
  scroll-behavior: smooth;
}

:root{
  --naranja:rgba(219,150,77,255);
  --azulclaro:rgba(49,53,82,255);
  --border-radius: 0.4rem ;
  --transition: color 0.1s, background-color 0.2s ease-in-out;
--skills-bar-length: 0%;
}
